/* add fonts */
@font-face {
  font-family: "Heebo";
  src: url("./assets/fonts/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heebo";
  src: url("./assets/fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yantramanav";
  src: url("./assets/fonts/Yantramanav-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* block model normalization */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove left padding from list elements that have a class attribute */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/* remove margins from body and two other elements that have a class attribute */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/* remove vertical margins from specified elements that have a class attribute */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/* remove default markers from unordered lists that have a class attribute */
:where(ul[class]) {
  list-style: none;
}

/* simplify working with images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* fix color change delay bug when interacting with sVG elements */
svg * {
  transition-property: fill, stroke;
}

/* remove underline from links */
a {
  text-decoration: none;
}

/* remove default button border */
button {
  border: none;
}

/* inherit font properties for form fields */
input,
textarea,
select,
button {
  font: inherit;
}

/* pointer cursor for interactive elements */
button,
label {
  cursor: pointer;
}

html {
  /* useful in most situations (e.g., when needing to "stick" footer to the bottom) */
  height: 100%;
  /* smooth scrolling */
  scroll-behavior: smooth;
}

body {
  /* useful in most situations (e.g., when needing to "stick" footer to the bottom) */
  min-height: 100%;
  /* standardized line height */
  line-height: 1.5;
}

/* remove all animations and transitions for people who prefer not to use them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* global variables */
:root {
  --color-dark: #000000;
  --color-darK-alternate: #131619;
  --color-light: #ffffff;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: "Heebo", sans-serif;
  --font-family-accent: "Yantramanav", sans-serif;

  --input-and-button-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-height: 90px;
}

body {
  background-color: var(--color-dark);

  font-family: var(--font-family-base);
  color: var(--color-light-gray);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

.title-medium {
  font-size: 40px;
  line-height: 1.3;
  color: var(--color-light);
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title::before {
  content: "";
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  width: 26px;
  aspect-ratio: 1;
  background: url("./assets/icons/plus.svg") center/contain no-repeat;
}

.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.45em;
  left: -0.6em;
  font-family: var(--font-family-accent);
  font-size: 2.8em;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-dark-gray);
  text-stroke: 1px var(--color-dark-gray);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

/* remove all vertical spacing from paragraphs */
p {
  margin-block: 0;
}

/* add bottom margin to all paragraphs
except paragraphs with class and the last paragraph one in container */
p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.link {
  color: var(--color-light);
}

.link:hover {
  color: var(--color-light-gray);
}

.button {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  height: 38px;
  padding-inline: 26px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-light-gray);
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-left: 31px;
  padding-right: 80px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-height);
  column-gap: 20px;
  padding-inline: 32px;
  background-color: var(--color-darK-alternate);
}

.header__logo {
  flex-shrink: 0;
}

.header__menu-list {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
}

.header__menu-link {
  display: inline-flex;
  align-items: center;
  height: var(--header-height);
  column-gap: 7px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.2px;
}

.header__menu-link.selected::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: currentColor;
}

.header__actions {
  display: flex;
  column-gap: 39px;
}

.header__burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  row-gap: 4px;
  padding-left: 8px;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
  color: var(--color-light);
}

.header__burger-button:hover {
  color: var(--color-light-gray);
  border-color: currentColor;
}

.header__burger-button-line {
  width: 6px;
  height: 1px;
  background-color: currentColor;
  box-shadow: 17px 0 0 currentColor;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: calc(100vh - var(--header-height));
  padding: 34px 71px;
  color: var(--color-light);
  background-color: var(--color-darK-alternate);
}

.banner__content {
  text-transform: uppercase;
}

.banner__info {
  display: flex;
  align-items: end;
  font-size: clamp(16px, 1.6vw, 30px);
  font-weight: 700;
  line-height: 1.27;
}

.banner__info::before {
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  margin-right: 30px;
  background: url(./assets/icons/bold-arrow-down-right.svg) center/contain
    no-repeat;
}

.banner__title {
  font-size: min(18.75vw, 360px);
  line-height: 1.1;
}

.banner__pagination-list {
  display: flex;
  justify-content: center;
  column-gap: 14px;
}

.banner__pagination-item {
  display: flex;
}

.banner__pagination-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: transparent;
  border: none;
}

.banner__pagination-button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}

.banner__pagination-button.selected::after {
  background-color: var(--color-light);
}

/* styles the ::after element when non-selected pagination buttons are hovered */
.banner__pagination-button:not(.selected):hover::after {
  border-color: var(--color-light-gray);
}

.motivation__item:nth-child(even) {
  background-color: var(--color-darK-alternate);
}

.motivation__item:nth-child(even) .motivation__card {
  flex-direction: row-reverse;
}

.motivation__card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 10.42vw, 200px);
}

.motivation__card-image {
  margin-block: -60px;
}

.motivation__card-content {
  padding-left: 35px;
}

.motivation__card-title:not(:last-child) {
  margin-bottom: 14px;
}

.motivaton__card-description {
  max-width: 400px;
}

.motivaton__card-description:not(:last-child) {
  max-width: 400px;
  margin-bottom: 37px;
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
    padding-inline: 15px;
  }

  .header,
  .banner {
    padding-inline: 15px;
  }

  .header__menu {
    order: 1;
    flex-basis: 100%;
  }

  .header__menu-link {
    height: 50px;
  }

  .banner {
    row-gap: 10px;
  }
}

@media (max-width: 767px) {
  .button {
    padding-inline: 18px;
  }

  .header {
    padding-top: 10px;
  }

  .header__menu-list {
    column-gap: 24px;
  }

  .header__menu-link {
    height: 32px;
  }

  .header__actions {
    column-gap: 15px;
  }

  .banner__info {
    margin-bottom: 5px;
  }
  .banner__info::before {
    margin-right: 10px;
  }
}
