@font-face {
  font-family: "Heebo";
  src: url("./assets/fonts/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heebo";
  src: url("./assets/fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yantramanav";
  src: url("./assets/fonts/Yantramanav-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*Нормализация блочной модели*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Убираем внутренние отступы слева тегам списков, у которых есть атрибут class*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/*Убираем внешние отступы body и двум другим тегам, у которых есть атрибут class*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/*Убираем внешние отступы вертикали нужным тегам, у которых есть атрибут class*/
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/*Убираем стандартный маркер маркированному списку, у которого есть атрибут class*/
:where(ul[class]) {
  list-style: none;
}

/*Упрощаем работу с изображениями*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Чиним баг задержки смены цвета при взаимодействии с svg-элементами*/
svg * {
  transition-property: fill, stroke;
}

/*Наследуем свойства шрифт для полей ввода*/
input,
textarea,
select,
button {
  font: inherit;
}

/*Курсор-рука при наведении на элемент*/
button,
label {
  cursor: pointer;
}

html {
  /*Пригодится в большинстве ситуаций (когда, например, нужно будет "прижать" футер к низу сайта)*/
  height: 100%;
  /*Плавный скролл*/
  scroll-behavior: smooth;
}

body {
  /*Пригодится в большинстве ситуаций (когда, например, нужно будет "прижать" футер к низу сайта)*/
  min-height: 100%;
  /*Унифицированный интерлиньяж*/
  line-height: 1.5;
}

/*Удаляем все анимации и переходы для людей, которые предпочитают их не использовать*/
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*global variables*/
:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: "Heebo", sans-serif;
  --font-family-accent: "Yantramanav", sans-serif;

  --input-and-button-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}

body {
  background-color: var(--color-dark-gray);

  font-family: var(--font-family-base);
  color: var(--color-light-gray);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.8px;
}
